body{
  background: rgb(225, 255, 255);
  background: -moz-linear-gradient(30deg, rgb(225, 255, 255) 30%, rgb(181, 255, 255) 70%);
  background: -webkit-linear-gradient(30deg, rgb(225, 255, 255) 30%, rgb(181, 255, 255) 70%);
  background: -o-linear-gradient(30deg, rgb(225, 255, 255) 30%, rgb(181, 255, 255) 70%);
  background: -ms-linear-gradient(30deg, rgb(225, 255, 255) 30%, rgb(181, 255, 255) 70%);
  background: linear-gradient(120deg, rgb(225, 255, 255) 30%, rgb(181, 255, 255) 70%);
  font-family: Last Ninja;
  overflow-x: hidden;
  color: #0066ff;
}

@font-face {
  font-family: Last Ninja;
  src: url('fonts/Last Ninja.ttf');
}

h1{

}

img#seven{
  height: 350px;
  width: 100%;
}

img{
  height: 400px;
  width: 350px;
}
