body{
  background: rgb(165, 0, 0);
  background: -moz-linear-gradient(30deg, rgb(165, 0, 0) 30%, rgb(110, 0, 7) 70%);
  background: -webkit-linear-gradient(30deg, rgb(165, 0, 0) 30%, rgb(110, 0, 7) 70%);
  background: -o-linear-gradient(30deg, rgb(165, 0, 0) 30%, rgb(110, 0, 7) 70%);
  background: -ms-linear-gradient(30deg, rgb(165, 0, 0) 30%, rgb(110, 0, 7) 70%);
  background: linear-gradient(120deg, rgb(165, 0, 0) 30%, rgb(110, 0, 7) 70%);
  font-family: Chow Fun;
  overflow-x: hidden;
}

@font-face {
  font-family: Chow Fun;
  src: url('Chow Fun.ttf');
}

img#Akatsuki{
  height: 350px;
  width: 100%;
}

img{
  height: 300px;
  width: 350px;
}

h1{
  font-size: 100px;
  text-shadow: 4px 4px 2px rgba(0, 7, 255, 1);
}

ul{
  list-style: none;
}
