body{
  background: rgb(5, 14, 99);
  background: -moz-linear-gradient(30deg, rgb(5, 14, 99) 30%, rgb(9, 18, 51) 70%);
  background: -webkit-linear-gradient(30deg, rgb(5, 14, 99) 30%, rgb(9, 18, 51) 70%);
  background: -o-linear-gradient(30deg, rgb(5, 14, 99) 30%, rgb(9, 18, 51) 70%);
  background: -ms-linear-gradient(30deg, rgb(5, 14, 99) 30%, rgb(9, 18, 51) 70%);
  background: linear-gradient(120deg, rgb(5, 14, 99) 30%, rgb(9, 18, 51) 70%);
  font-family: Karate;
  overflow-x: hidden;
}

@font-face {
  font-family: Karate;
  src: url('fonts/Karate.ttf');
}

h1{
  color: #ff6600;
  text-shadow: 4px 4px 2px rgba(0, 7, 255, 1);
  font-size: 100px;
}

ul{
  list-style: none;
}

ul#shippuden{
  width: 100%;
}

img{
  width: 750px;
  height: 400px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
}

img#Uzumaki{
  height: 400px;
  width: 350px;
}

img#swordsmen{
  height: 400px;
  width: 350px;
}

img#akatsuki{
  height: 400px;
  width: 350px;
}

img#team{
  height: 400px;
  width: 350px;
}

h2{
  color: #ff9900;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
}
