body{
  background: rgb(5, 14, 99);
  background: -moz-linear-gradient(30deg, rgb(5, 14, 99) 30%, rgb(9, 18, 51) 70%);
  background: -webkit-linear-gradient(30deg, rgb(5, 14, 99) 30%, rgb(9, 18, 51) 70%);
  background: -o-linear-gradient(30deg, rgb(5, 14, 99) 30%, rgb(9, 18, 51) 70%);
  background: -ms-linear-gradient(30deg, rgb(5, 14, 99) 30%, rgb(9, 18, 51) 70%);
  background: linear-gradient(120deg, rgb(5, 14, 99) 30%, rgb(9, 18, 51) 70%);
  font-family: Karate;
  overflow-x: hidden;
}

@font-face {
  font-family: Karate;
  src: url('fonts/Karate.ttf');
}

h1{
  color: #ff6600;
  text-shadow: 4px 4px 2px rgba(0, 7, 255, 1);
  font-size: 100px;
}

ul{
  list-style: none;
}

ul#shippuden{
  width: 100%;
}

img{
  width: 400px;
  height: 350px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
}

div#naruto{
  background-image: url(http://www.leafninja.com/images/symbols/Naruto.gif);
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
}

div#Konoha{
  background-image: url(http://rs271.pbsrc.com/albums/jj151/chuck-kie/Naruto%20related%20stuff/Leaf-symbol.gif~c200);
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
}

div#seven{
  background-image: url(http://narutomushrivalry.wdfiles.com/local--files/02characters%3Acharacter-profiles/800px-Land_of_Water.JPG);
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
}

div#Akatsuki{
  background-image: url(http://wordnarutoonline.weebly.com/uploads/8/5/5/6/8556513/1659928.png);
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
}

h2{
  color: #ff9900;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
}
