body{
  font-family: Ninja Naruto;
  overflow-x: hidden;
  background-color: #ffcc00;
}
@font-face {
  font-family: Ninja Naruto;
  src: url('fonts/Ninja Naruto.ttf');
}

img#TeamKonoha{
  height: 350px;
  width: 100%;
}

h1{
  font-size: 100px;
  text-shadow: 4px 4px 2px rgba(0, 7, 255, 1);
}

ul{
  list-style: none;
}

img{
  width: 350px;
  height: 350px;
}
